/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

body {
  @apply font-sans antialiased;
  overscroll-behavior: none!important;

}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
} 

.ease-custom {
  @apply ease-[cubic-bezier([0.83,0,0.17,1])] 
}

.rounded-xl, .rounded-2xl, .rounded-lg, .rounded-full {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0)
}

.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-x-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.remove-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.remove-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.grain {
  @apply fixed inset-0 w-full h-full overflow-hidden z-[900] bg-repeat pointer-events-none will-change-transform;

  animation: fadeIn 0.5s ease-in-out forwards;
  background-image: url("/images/grain.gif");
  background-position: 50% 50%;
  background-size: 480px;
}

.font-mono {
  @apply tracking-wider;
}

.triangle {
  clip-path: polygon(50% 0%, 112% 0%, 62% 100%, 0 100%);

}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 0.05;
  }
}

.mix{
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.rounded-fix {
  isolation: isolate!important;
  will-change: transform!important;
  z-index: 0!important;
  transform: translateZ(0) !important;
  mask-image: radial-gradient(white, black);
}